@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&family=Montserrat:wght@500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 2rem 1rem;
    background-color: hsl(30, 38%, 92%);
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    max-width: 375px;
}

.picture {
    display: flex;
}

img {
    width: 100%;
    height: auto;
}

.product-info {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    font-weight: 500;
}

.product-category {
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.product-name {
    line-height: 2rem;
}

.product-name, .reduced-price {
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.product-category, .description {
    color: hsl(228, 12%, 48%);
}

.price {
    display: flex;
    gap: 1rem;
}

.reduced-price {
    color: hsl(158, 36%, 37%);
}

.original-price {
    align-self: center;
    color: hsl(228, 12%, 48%);
}

.cart-button {
    background-color: hsl(158, 36%, 37%);
    color:hsl(0, 0%, 100%);
    padding: 0.75rem;
    border: 0;
    border-radius: 10px;
    font-weight: 700;
}

.cart-button:is(:hover, :focus) {
    background-color: hsl(158, 36%, 20%);
}

.cart-button img {
    width: 15px;
    height: 16px;
}

footer {
    margin-top: 10vh;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
        max-width: 600px;
    }

    .card > * {
        max-width: 50%;
    }

    .product-container {
        display: flex;
    }

    .product-info {
        gap: 2rem;
    }
}